/*custom font - Montserrat*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {margin: 0; padding: 0;}
/*forcing the body to take 100% height*/
html, body {min-height: 100%;}
/*a nice BG*/
body {
	background: ##6C6753; /*fallback*/
	background: linear-gradient(#E0E0E0, #C1C1C1);
}

.quadcopter {
	width: 400px; height: 300px; margin: 56px auto;
}
.quadcopter a {
	display: block; width: 100%; height: 100%;
	background: url("g10740.png");
	background-size: 0,cover;
}

#prop:hover {
    -webkit-animation: rotation 1s infinite linear;
}
#prop2:hover {
	-webkit-animation: rotRev 1s infinite linear;
}
#prop3:hover {
	-webkit-animation: rotation 1s infinite linear;
}
#prop4:hover {
	-webkit-animation: rotRev 1s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-webkit-keyframes rotRev {
	from {-webkit-transform: rotate(359deg);}
	to   {-webkit-transform: rotate(0deg);}
}


/*Thumbnail Background*/
.thumb {
	width: 320px; height: 240px; margin: 56px auto;
	-webkit-perspective: 800px;
}
.thumb a {
	display: block; width: 100%; height: 100%;
	/*double layered BG for lighting effect*/
	background: 
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
		url("http://thecodeplayer.com/u/m/i1.png");
	/*disabling the translucent black bg on the main image*/
	background-size: 0, cover;
	/*3d space for children*/
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.5s;
}
.thumb:hover a {-webkit-transform: rotateX(80deg); -webkit-transform-origin: bottom;}
/*bottom surface */
.thumb a:after {
	/*36px high element positioned at the bottom of the image*/
	content: ''; position: absolute; left: 0; bottom: 0; 
	width: 100%; height: 36px;
	/*inherit the main BG*/
	background: inherit; -webkit-background-size: cover, cover;
	/*draw the BG bottom up*/
	background-position: bottom;
	/*rotate the surface 90deg on the bottom axis*/
	-webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
}
/*label style*/
.thumb a span {
	color: white; text-transform: uppercase;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: bold 12px/36px Montserrat; text-align: center;
	/*the rotation is a bit less than the bottom surface to avoid flickering*/
	-webkit-transform: rotateX(-89.99deg); -webkit-transform-origin: top;
	z-index: 1;
}
/*shadow*/
.thumb a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5); 
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.5s; 
	/*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
	opacity: 0.15;
	-webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	-webkit-transform-origin: bottom;
}
.thumb:hover a:before {
	opacity: 1;
	/*blurred effect using box shadow as filter: blur is not supported in all browsers*/
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	/*pushing the shadow down and scaling it down to size*/
	-webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
}







